<% if(role === "lab_assistant") { %>
    <%-include('partials/header_lab') %>
    <% } else { %>
    <%-include('partials/header')%>
    <% } %>
  
  <!-- Example table with rowCount number of rows -->
  <div class="mb-3 row">
  <label for="Inv_no" class="col-sm-3 col-form-label">Invoice Number</label>
  <div class="col">
      <input type="text" class="form-control" id="Inv_no" name="Inv_no" >
  </div>
  </div>
  